{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "airbnb"
  ],
  "env": {
    "es6": true,
    "mocha": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "expect": false,
    "assert": false,
    "sinon": false,
    "__WEBPACK__": false,
    "__DEVTOOLS__": false,
    "google": false
  },
  "plugins": [
    "standard",
    "babel",
    "react"
  ],
  "rules": {
    "curly": [0],
    "object-curly-spacing": 0,
    "operator-linebreak": 0,
    "semi": 0,
    "key-spacing": 1,
    "space-before-function-paren": 1,
    "arrow-parens": 0,
    "babel/arrow-parens": [2, "always"],
    "react/prop-types": [2, { "ignore": ["css"] }],
    "jsx-quotes": [2, "prefer-double"],
    "react/jsx-filename-extension": 0,
    "import/no-named-as-default": 0,
    "no-use-before-define": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/forbid-prop-types": 0,
    "no-unused-expressions": 0,
    "import/prefer-default-export": 0,
    "react/no-danger": 0,
    "no-underscore-dangle": 0
  }
}
